# macOS
.DS_Store

# Editor noise
*.swp
*.swo
*~

# LibreOffice / lock files
.~lock*

# LaTeX build artifacts
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.lof
*.log
*.lot
*.nav
*.out
*.run.xml
*.snm
*.synctex.gz
*.toc
*.xdv
